
.App .stock-detail-container p {
    text-align: justify;
    font-size: 14px;
}

.App .stock-detail-container .stock-detail-table td {
    text-align: left;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 1px 0 0;
    padding-left: 5px;
}

@media screen and (max-width: 1024px) {
    .App .stock-detail-container p {
        max-width: calc(100% - 20px);
        padding: 0 10px;
    }
}